

/* Nintendo Style CSS from http://zurb.com/forrst/posts/Nintendo_logo_in_CSS-uwZ*/

.nintendo {
	display: inline-block;
	color: red;
	background: #fff;
	font-size: 35px;
	padding: 10px 15px 12px 10px;
	-webkit-border-radius: 100px;
	border: 5px solid red;
	font-family: "Tahoma";

}

/*h1 {
	display: block;
	margin: auto;
	text-align: center;
}*/

.redline {
	border: 2px solid red;
}

body {
	background-color: lightgrey;
}